    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>mini whatsapp</title>
        <link rel="stylesheet" href="/style.css">
    </head>

    <body>
        <h1>Chat Messages</h1>
        <% for(let chat of chats){ %>
            <div class="chat">
                <p>
                    From: <%= chat.from %> <br>
                    To: <%= chat.to %> <br>
                    <div class="msg">
                        Message: <%= chat.msg %> <br>
                        <hr>
                    </div>
                    
                </p>
            </div>
            <% } %>
    </body>

    </html>